*{
	font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
}

@font-face {
/*  font-family: chalkdust;
  src: local("chalkdust"),
       url(../chalkdust-webfont.woff);
  font-weight: bold; */
}

body{
	padding: 0;
	margin:0;
}
ul{
	list-style: none;
}

input, select{
	border: none;
	padding: 5px;
	height: 34px;
	margin:10px;
	font-size: 16px;

}


h2{
	/*font-family:chalkdust;*/
	font-size: 28px;
	padding-top: 0;
	margin: 10px;
	/*line-height: 0.8em;*/
	color:#61a8ca;
	text-align: center;
}

.title-bar{
	display: flex;
	height: 56px;
	justify-content:center;
}
.title-bar-content{
	height: 56px;
	align-items: center;
	/*	*/
	display: flex;
	position: relative;

}
.logo-link{
	display: flex;
}
#logo{
	margin-left: 12px;
	padding-top: 13px;
	height: 0.7em;
}
#logo-box{
	margin-top: 4px;
    height: 1.8em;
}


.nav-items-horizontal{
	display: flex;
	justify-content: space-evenly;
	margin-right: 20px;
	padding: 0;
	margin-left: auto;
	/*width: 40%;*/

	
}

.nav-items-dropdown,
.nav-item.nav-menu{
	display: none;
}
.nav-items-dropdown{
	box-shadow: 0 0 12px rgba(0,0,0,.4); 
	position: absolute; 
	top: 40px;
    left: calc(100% - 340px);
	flex-direction: column; 
	margin:0;
	padding:0;
	z-index: 100;
	background: white;
}
.nav-item{
	display: list-item;
	list-style-type: none;
	list-style-position: outside;
	text-align: center;
	display: inline-block; 
	margin-left: 20px;
}
.nav-link{
	text-decoration: none;
	color:#1c425e;
	font-size: 14px;
	font-weight: 600;

}


.nav-more{
	color: #1c425e;
    font-size: 14px;
    font-weight: 600;
    padding-top: 3px;
    cursor: pointer;
}
.nav-expand-arrow{
	height: 0.70em;
    padding-left: 5px;
}

.nav-book{
	font-weight: 700;

}
.nav-dropdown{
	margin: 0;
	padding: 6px 24px;
	text-align: center;
}

.nav-btns{
	display: flex;
	justify-content: flex-end;
	/*width: 20%;*/
	flex-direction: row;
}

.book-now-btn{
	text-transform:uppercase;
	white-space:nowrap;
	height: 32px;
	width: 78px;
	font-weight: 600;
	font-size: 12px;
	border-radius: 3px;
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(left, rgb(224, 82, 160), rgb(241, 92, 65));
	padding: 2px;
	outline: none;
	margin-left: 10px;
	color: white;

	
}

.book-now{
	display: flex;
	color: #1c425e;
	justify-content: center;
    line-height: 28px;
    align-items: center;
    background-color: white;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 3px;
    outline: 0;
    font-size: 100%;
    width: 74px;
    height: 28px;
   font-weight: 600;
}

.hero-div{
	display: flex;
	background-image: url('../bckgrd.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 47%;
	min-height: 650px;
	
}

.thb{
	margin-left: auto;
	margin-right: auto;
	height: 255px;
	margin-top: 60px;

}
.thbhidden{
	display: none;
	margin-left: auto;
	margin-right: auto;
	height: 180px;
	width: 355px;
	margin-top: 125px;
}

.home-intro{
	display: flex;
	/*background-color: #e3e2df;*/
	background-image: url('../backgroundmap.jpg');
	background-size: cover;
	height: 675px;
	/*justify-content: center;
	align-content: center;*/
	margin-top:0px;
	flex-flow: column;

	
}
.home-introbox{
	background-color: #242554;
	/*background-image: -webkit-linear-gradient(left, rgb(224, 82, 160), rgb(241, 92, 65));*/
	height: 180px;
	width: 70%;
	margin: -155px auto 20px;
	border-radius: 5px;
}

.home-introbox p{
	color: white;
	line-height: 1.4;
	margin-top: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0;
	font-size: 15px;
	text-align: center;

}

.home-introbox h2{
	color:#61a8ca;
	font-size: 22px;
	letter-spacing: 1px;
	margin-bottom: 5px;

}

.home-intro h3,
.home-blog h3,
.home-tips h3{
	display: block;
	margin-left: 10%;
	font-size: 14px;
	background-color: #4799eb;
	border-radius: 2px;
	padding:4px 8px;
	color: white;
	max-width: 160px;
    text-align: center
}

#tipsform{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

#tipsform input[type='text'],input[type='email']{
	border-radius: 5px;
	width: 20%;
	line-height: 1.8;
	font-size: 18px;
	text-align: center;
}
#tipsform select{
	width: 25%;
	height: 44px;
}

#tipsform input[type='submit']{
	background: #f64c72;
	width: 20%;
	line-height: 1.8;
	font-size: 18px;
	height: 44px;
	color: white;
	border-radius: 5px;
}
#tipsform option,select{
	font-size: 18px;
}

.interviews,
.blogs{
	display: flex;
	justify-content: space-evenly;
    flex-direction: row;
    margin-top: 15px;
}
.interviews{ 
	height: 68%; 
	flex-direction: row;
}

.interview-blocks{
	width: 23%;
	background-color: white;
	color: #1c425e;
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	border: 1px solid #f64c72;
}

.interview-blocks svg{
	height: 15px;
	margin-left: 8px;
	margin-top: 20px;
	vertical-align: baseline;
	display: flex;
}

.div-flexbox{
	display: flex;
}

.interview-blocks .div-flexbox{
	border-top: 1px solid #f64c72;
}

.div-imagebox{
	display: flex;
	flex-direction: column;
}

a.a-imagebox, .tip-blocks{
	width:  340px;
	height: 200px;
}
.tips{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 25px;
	margin-top:10px;
}

.tip-blocks{
	background-image: url('../backgroundmap.jpg');
}

.interview-number{
	width:37%;
}

.div-blogbox img{
	width:  340px;
	height: 200px;
}

.home-blog,
.home-tips{
	height: 600px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.flex-end{
	flex-direction: row;
	align-self: flex-end;
	margin-right:10%;
}

.flex-end a{
	color: white;
	background-color: #242554;
 	margin-top:20px;
    padding: 7px;
    border-radius: 3px;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
}

.flex-end svg{
	height: 14px;
}

.blogs{
	/*height: 70%;*/
}

.div-blogbox{
	display: flex;
	flex-direction: column;
	width: 25%;
}

.footer-row{
	background-color: #242554;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/*width: 100%;*/
	padding:20px;
	padding-right: 0;
}

.footer-div{

	display: flex;
	flex-direction: column;
}
.footer-div a{
	display: block;
	margin:5px;
	outline: none;
	text-decoration: none;
	color: white;
	
}

@media (max-width: 1220px){
	.home-blog{
		height:700px;
	}
	h4,p{
		text-align: center;
	}
}

@media (min-width: 1091px){
	.nav-item.nav-more,
	.nav-dropdown{
		display: none;
	}

}

@media (max-width: 1091px) {
	.nav-item.nav-book{
		display:none;
	}
	.nav-items-dropdown{
		left: calc(100% - 310px);
	}
	.nav-dropdown + li,
	.nav-dropdown.nav-hackers{
		display: none;
	}
	.nav-dropdown.nav-book{
		display: block;
	}

	.div-blogbox img{
		width: 100%;
		height: 45vh;
	}
	.div-blogbox{
		width: 100%;
		margin-left: 7px;
		margin-right: 7px;
	}
	.flex-break{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.tips{
		flex-direction: column;
	}
	.tip-blocks{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
@media (max-width: 997px){
	.nav-item.nav-courses{
		display:none;
	}
	.nav-item.nav-community{
		display: none;
	}
	.nav-dropdown.nav-courses,
	.nav-dropdown.nav-community{
		display: block;
	}
	.nav-items-dropdown{
		left: calc(100% - 320px);
	}
	.home-introbox{
		width: 100%;
		border-radius: 0;
	}
	.div-blogbox img{
		height: 30vh;
	}
	.tip-blocks{
		width: 42vw;
	}
}

@media (max-width: 790px){
	.nav-item.nav-tools,
	.nav-item.nav-dest{
		display:none;
	}

	.nav-dropdown.nav-tools,
	.nav-dropdown.nav-dest{
		display: block;
	}
	.nav-items-dropdown{
		left: calc(100% - 325px);
	}
	.home-blog{
		height: 100%;
	}
	.blogs{
		justify-content: unset;
		flex-direction: column;
		
	}
	.div-blogbox{
		display: block;
		margin-left: 0;
		margin-right: 0;
		
	}
	.div-blogbox img{
		height: 40%;
		width: 98%;
		margin-left: 1%;
	}
	h4,p{
		text-align: center;
	}
	#tipsform{
		flex-direction: column;
	}
	
	#tipsform input[type='text'], 
	input[type='email']{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	#tipsform select{
		width: 82%;
		margin-left: 10%;
	}
	#tipsform input[type='submit']{
		width: 88%;
		margin-left: 7%;
		-webkit-appearance: none;
		border-radius: 0;
		border-radius: 5px;
	}

	.home-introbox{
		height: 75%;
	}

	.home-intro{
		height: 100%;
		padding-bottom: 25px;
	}

	.interviews{
		height: 100%;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}

	.interview-blocks{
		display: block;
		min-height: 430px;
		min-width: 350px;
		margin-top: 25px;
	}

	/*.flex-centre{
		align-self: center;
	}*/

	


	
}

@media (max-width: 600px){
	.nav-item.nav-more,
	.nav-item.nav-hackers,
	.thb{
		display:none;
	}
	
	.nav-item.nav-menu{
		display: inline-flex;
	}
	.nav-item.nav-menu>img{
		height: 1em;
    	vertical-align: bottom;
    	cursor: pointer;
	}
	.book-now-btn{
		height: 28px;
    	width: 60px;
	}

	.book-now-btn span{
		height: 23px;
    	width: 54px;
    	margin-left: 1px;
	}
	.nav-items-dropdown{
		left: calc(100% - 290px);

	}
	.thbhidden{
		display: inline-block;
	}
	
	.tip-blocks{
		/*height: 60vh;
		width: 70vw;*/
		width: 80vw;
	}
	.flex-break, .tips{
		flex-direction: column;
		justify-content: center;
		
		margin-right: auto;
		margin-left: auto;

	}
	.home-tips{
		height: unset;
		justify-content: center;
	}

}







