*{
	font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
}

body{
	padding: 0;
	margin:0;
}
ul{
	list-style: none;
}

.title-bar{
	display: flex;
	height: 56px;
	justify-content:center;
}
.title-bar-content{
	height: 56px;
	align-items: center;
	/*	*/
	display: flex;
	position: relative;

}
.logo-link{
	display: flex;
}
#logo{
	margin-left: 12px;
	padding-top: 13px;
	height: 0.7em;
}
#logo-box{
	margin-top: 4px;
    height: 1.8em;
}


.nav-items-horizontal{
	display: flex;
	justify-content: space-evenly;
	margin-right: 20px;
	padding: 0;
	margin-left: auto;
	/*width: 40%;*/

	
}

.nav-items-dropdown,
.nav-item.nav-menu{
	display: none;
}
.nav-items-dropdown{
	box-shadow: 0 0 12px rgba(0,0,0,.4); 
	position: absolute; 
	top: 40px;
    left: calc(100% - 340px);
	flex-direction: column; 
	margin:0;
	padding:0;
	z-index: 100;
	background: white;
}
.nav-item{
	display: list-item;
	list-style-type: none;
	list-style-position: outside;
	text-align: center;
	display: inline-block; 
	margin-left: 20px;
}
.nav-link{
	text-decoration: none;
	color:#1c425e;
	font-size: 14px;
	font-weight: 600;

}


.nav-more{
	color: #1c425e;
    font-size: 14px;
    font-weight: 600;
    padding-top: 3px;
    cursor: pointer;
}
.nav-expand-arrow{
	height: 0.70em;
    padding-left: 5px;
}

.nav-book{
	font-weight: 700;

}
.nav-dropdown{
	margin: 0;
	padding: 6px 24px;
	text-align: center;
}

.nav-btns{
	display: flex;
	justify-content: flex-end;
	/*width: 20%;*/
	flex-direction: row;
}

.book-now-btn{
	text-transform:uppercase;
	white-space:nowrap;
	height: 32px;
	width: 78px;
	font-weight: 600;
	font-size: 12px;
	border-radius: 3px;
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(left, rgb(224, 82, 160), rgb(241, 92, 65));
	padding: 2px;
	outline: none;
	margin-left: 10px;
	color: white;

	
}

.book-now{
	display: flex;
	color: #1c425e;
	justify-content: center;
    line-height: 28px;
    align-items: center;
    background-color: white;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 3px;
    outline: 0;
    font-size: 100%;
    width: 74px;
    height: 28px;
   font-weight: 600;
}

.hero-div{
	display: flex;
	/*background-image: url('../bckrd.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	opacity: 0.8;*/
	min-height: 600px;
}

.thb{
	margin-left: auto;
	margin-right: auto;
	height: 255px;
	margin-top: 90px;
	background-color: rgba(255,255,255, 0.9);
	padding: 20px;
	opacity: 1;
}

@media (min-width: 1091px){
	.nav-item.nav-more,
	.nav-dropdown{
		display: none;
	}
}

@media (max-width: 1091px) {
	.nav-item.nav-book{
		display:none;
	}
	.nav-items-dropdown{
		left: calc(100% - 310px);
	}
	.nav-dropdown + li,
	.nav-dropdown.nav-hackers{
		display: none;
	}
	.nav-dropdown.nav-book{
		display: block;
	}
}
@media (max-width: 997px){
	.nav-item.nav-courses{
		display:none;
	}
	.nav-item.nav-community{
		display: none;
	}
	.nav-dropdown.nav-courses,
	.nav-dropdown.nav-community{
		display: block;
	}
	.nav-items-dropdown{
		left: calc(100% - 320px);
	}
}

@media (max-width: 790px){
	.nav-item.nav-tools,
	.nav-item.nav-dest{
		display:none;
	}

	.nav-dropdown.nav-tools,
	.nav-dropdown.nav-dest{
		display: block;
	}
	.nav-items-dropdown{
		left: calc(100% - 325px);
	}
	
	
}

@media (max-width: 600px){
	.nav-item.nav-more,
	.nav-item.nav-hackers{
		display:none;
	}
	
	.nav-item.nav-menu{
		display: inline-flex;
	}
	.nav-item.nav-menu>img{
		height: 1em;
    	vertical-align: bottom;
    	cursor: pointer;
	}
	.book-now-btn{
		height: 28px;
    	width: 60px;
	}

	.book-now-btn span{
		height: 23px;
    	width: 54px;
    	margin-left: 1px;
	}
	.nav-items-dropdown{
		left: calc(100% - 290px);

	}

}







